# dependencies
node_modules/

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local
ios/Pods/

# Android
.gradle
.idea
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
.kotlin/
android/app/build/
android/build/

# Ruby / CocoaPods
vendor/bundle/

# Bundle artifact
*.jsbundle

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# security
*.p8
*.p12
*.key
*.mobileprovision

# local env files
.env*.local

# typescript
*.tsbuildinfo

# testing
/coverage
